@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using DotNetNuke.Common
@using DotNetNuke.Entities.Portals
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components
@using Nevoweb.OS_Chronopost2;
@using Nevoweb.OS_Chronopost2.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/OS_Chronopost2/App_LocalResources")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var chronopostData = (ChronopostLimpet)Model.List.First();
}

<link href="/DesktopModules/NBright/OS_Chronopost2/Themes/config/css/module.css" rel="stylesheet">
<link href="/DesktopModules/NBright/NBrightBuy/Themes/config/css/w3.css" rel="stylesheet">

<div id="chronoposttemplate">
    <div class="formrow dnnForm chronopostdata">

        <span id="chronopostproductselect">
            @{
                var productCodes = chronopostData.ProductCodeList();
                foreach (var pc in productCodes)
                {
                    var scheckvalue = "";
                    if (chronopostData.SelectedProductCode == pc.Key)
                    {
                        scheckvalue = "checked"; 
                    }
                    <input type="radio" id="productcode_@(pc.Key)" onclick="updateselectedproduct();" name="productcode" update="save" value="@(pc.Key)" @scheckvalue >
                    <label for="productcode_@(pc.Key)">@(pc.Value)</label>
                }
            }
        </span>

        @if (chronopostData.SelectedProductCode == "86")
        {
            <h2>@ResourceKey("Chronopost.chronopost86")</h2>
            <p>
                @ResourceKey("Chronopost.selectrelais")
            </p>
            var l = chronopostData.GetRelais();
            if (l.Count > 0)
            {
                foreach (var r in l)
                {
                    <div class="action_relais w3-row w3-border w3-padding">
                        <a href="@r.GetXmlProperty("return/urlgooglemaps")" target="_blank" class=""><i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;</a>
                        <span id="identifiantchronopostpointa2pas" style="cursor:pointer;">
                            <b>@r.GetXmlProperty("return/nomenseigne")</b>
                            @r.GetXmlProperty("return/adresse1")&nbsp;@r.GetXmlProperty("return/localite")
                        </span>
                    </div>
                }
            }
            else
            {
                <div>@ResourceKey("Chronopost.relaisfail")</div>
            }
        }

    </div>
    <div class="formrow">
    </div>
    <div class="formrow">
    </div>
</div>

<div class=".chronopostreturnmsg"></div>


<script>
    $(document).ready(function () {

        $(document).on("nbxgetcompleted", ManualPayment_nbxgetCompleted); // assign a completed event for the ajax calls

        // function to do actions after an ajax call has been made.
        function ManualPayment_nbxgetCompleted(e) {
            $('.processing').hide();
            $('.actionbuttonwrapper').show();
            $('.editlanguage').show();
        };
                
    });

    function updateselectedproduct() {
        $('.processing').show();
        nbxget('chronopost2_select', '#chronopostproductselect', '#shipprovidertemplates');
    }

</script>
